/* Sidebar */
.sidebar {
    position: relative;
}

.sidebar--closed {
    display: none;
}

.sidebar__button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(180, 180, 180, 0.2);
    color: #fff;
    height: 100%;
    border: none;
}

/* Sidebar header */
.sidebar__header {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(180, 188, 199, .3);
    color: #fff;
    padding: 10px 20px;
    position: relative;
}

/* Sidebar content */
.sidebar__section {
    border-bottom: 1px solid rgba(180, 188, 199, .2);
    padding-bottom: 20px;
    width: 100%;
}

.sidebar__section__title {
    color: #677694;
    margin: 0;
    padding: 25px 20px 15px;
    text-transform: uppercase;
}

.sidebar__section__items {
    margin: 0;
    padding: 0;
}

.sidebar__section__item {
    list-style: none;
    margin: 0;
    width: 100%;
}

.sidebar__section__item > a {
    color: #fff;
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
    overflow: hidden;
    display: flex;
}

.sidebar__section__item > a:hover {
    background-color: #0a1b3d;
}

.sidebar__section__item > a.active {
    background-color: rgba(250, 250, 250, .2);
    font-weight: 700;
}


/* Old */

.menu_button {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  left: 310px;
  top: 20px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  animation: heart 10s linear 0s infinite;
}

@keyframes heart {
  0% {transform: scale(1)}
  92% {transform: scale(1)}
  94% {transform: scale(1.2)}
  96% {transform: scale(1)}
  98% {transform: scale(1.2)}
  100% {transform: scale(1)}
}

.close1, .close2 {
  width: 30px;
  height: 6px;
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.2);
  margin: 4px 0;
  transition: 0.7s;
}

.open1, .open2 {
  width: 30px;
  height: 6px;
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.2);
  margin: 4px 0;
  transition: 0.7s;
}

.open1:hover, .open2:hover, .close1:hover, .close2:hover {
  transition: 0.7s;
  background-color: rgb(200, 60, 60);
}

.open1 {
  transform: rotate(-45deg) translate(-3px, 3px)
}

.open2 {
  transform: rotate(45deg) translate(-4px, -5px)
}
