.container {
    display: grid;
    grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.toolbar {
    align-items: center;
    background-color: var(--toolbar-background);
    display: flex;
    flex: 1;
    grid-area: header;
    height: var(--toolbar-height);
}

.toolbar__closebtn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 700;
    height: 100%;
    margin-right: 1rem;
    outline: none;
    width: 37px;
}

.sidebar {
    background-color: var(--sidebar-background);
    grid-area: nav;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    width: var(--sidebar-width);
    transition: width .5s;
}

.sidebar--closed {
    width: 0;
}

.sidebar .logo {
    align-items: center;
    background-color: var(--logo-background);
    color: #fff;
    display: flex;
    flex: 0 0 var(--sidebar-width);
    height: var(--toolbar-height);
    overflow: hidden;
    padding: 0 20px;
    white-space: nowrap;
}

.main {
    display: flex;
    grid-area: main;
    justify-content: center;
    overflow: auto;
    padding: 1rem;
}

.main .content {
    max-width: var(--content-width);
    width: var(--content-width);
}

.footer {
    background-color: var(--footer-background);
    grid-area: footer;
}
