@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    background-color: #fff;
    color: #676767;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0 auto;

    --content-width: 1200px;
    --footer-background: #f0f0f0;
    --logo-background: #dc5a60;
    --sidebar-background: #313541;
    --sidebar-item-hover-background: #1f222d;
    --sidebar-item-selected-background: rgba(250, 250, 250, .1);
    --sidebar-width: 250px;
    --toolbar-background: #f4f7fa;
    --toolbar-height: 40px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #0069ff;
}

a:hover {
    text-decoration: underline;
}

.box {
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    padding: 2rem;
}

.input {
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

button {
    cursor: pointer;
}

.button {
    background-color: #0069ff;
    border: 1px solid #ececec;
    border-radius: 3px;
    color: #fff;
    font-size: .9rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.6rem;
}

table {
    width: 100%;
}

thead {
    background-color: #f2f2f2;
    color: #555;
}

thead tr th {
    padding: 1rem;
}

tbody tr {
    border: 
}

tbody tr td {
    padding: 0.8rem;
    border: 2px solid #f1f1f1;
}
