/* Sidebar content */
.sidebar__section {
    border-bottom: 1px solid rgba(180, 188, 199, .2);
    padding-bottom: 10px;
    width: 100%;

    &__title {
        color: #888;
        cursor: pointer;
        font-size: 0.8rem;
        letter-spacing: 0.06rem;
        margin: 0;
        padding: 20px 20px 10px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
    }

    &__items {
        margin: 0;
        padding: 0;

        &--closed {
            display: none;
        }
    }

    &__item {
        list-style: none;
        margin: 0;
        width: 100%;

        & > a {
            color: #ddd;
            display: flex;
            font-size: 0.9rem;
            font-weight: 400;
            padding: 10px 20px;
            text-decoration: none;
            width: 100%;

            &.active {
                background-color: var(--sidebar-item-selected-background);
                color: #fff;
            }

            &:hover {
                background-color: var(--sidebar-item-hover-background);
            }
        }
    }
}
